/* general setup */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: none;
}

/* for small screen */

/* breadcrumb */

.breadcrumb {
    padding: 16px 0;
    background-color: hsla(238, 53%, 38%, 1);
}

/* breadcrumb-btn */

.breadcrumb-btn {
    display: none;
}

.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label {
    transform: rotate(90deg);
    transition: 0.4s;
}

.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label > .closed,
.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label > .closed::before,
.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label > .closed::after {
    background-color: transparent;
    transition: 0.4s;
}

.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label > .opened::before,
.breadcrumb-btn:checked ~ .logo-label-group > .breadcrumb-label > .opened::after {
    background-color: hsl(0, 100%, 50%);
    transition: 0.4s;
}

.breadcrumb-btn:checked ~ .breadcrumb-menu {
    display: block;
}

/* logo-label-group */

.logo-label-group {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
}

/* logo */

.logo {
    color: white;
}

/* breadcrumb-label */

.breadcrumb-label {
    display: flex;
    position: relative;
    transition: 0.4s;
}

.breadcrumb-label:hover .closed::before {
    width: 100%;
    transition: 0.4s;
}

.breadcrumb-label:hover .closed::after {
    width: 100%;
    transition: 0.4s;
}

/* breadcrumb-icon */

.breadcrumb-icon {
    display: block;
    position: relative;
    margin: 8px 0 0 0;
    width: 23px;
    height: 1px;
    background-color: aliceblue;
}

.breadcrumb-icon::before,
.breadcrumb-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: aliceblue;
}

/* closed */

.closed::before {
    top: -6px;
    width: 12px;
}

.closed::after {
    top: 6px;
    width: 26px;
}

/* opened */

.opened,
.opened::before,
.opened::after {
    background-color: transparent;
}

.opened {
    position: absolute;
}

.opened::before {
    transform: rotate(-45deg);  
}

.opened::after {
    transform: rotate(45deg);
}

/* breadcrumb-menu */

.breadcrumb-menu {
    display: none;
    margin: 0 16px;
    list-style: none;
}

/* breadcrumb-link */

.breadcrumb-link {
    display: block;
    width: 120px;
    padding: 16px;
    position: relative;
    text-decoration: none;
    color: white;
}

.breadcrumb-link::before {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

.breadcrumb-link:hover {
    font-weight: bolder;
    transition: 0.4s;
}

.breadcrumb-link:hover::before {
    background-color: rgba(47, 178, 201, 1);
    border-radius: 100%;
    width: 0%;
    transition: 0.9s;
}
